<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailAddress" value=""/>
    <add key="EmailPassword" value=""/>
    <add key="DisplayName" value=""/>
    <add key="EmailHost" value="smtp.gmail.com"/>
    <add key="EmailPort" value="587"/>
    <add key="EnableSsl" value="true"/>
    <add key="ServiceInterval" value="60000"/>
  </appSettings>
</configuration>